    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html, body {
        height: 100%;
        position: relative;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
    header {
        width: 100%;
        padding: 1.5em 2rem;
        background-color: black;
        color: aliceblue;
        position: relative;
        top: 0;
    }
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        text-align: center;
    }
    nav > ul {
        gap: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
    }
    ul > li > a {

        text-decoration: none;
    }
    ul > li > a:visited {
        color: aliceblue;
    }
    ul > li :hover {
        background-color: aliceblue;
    }
    main {
        
        /* height: 100vh; */
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    section {
        background-color: antiquewhite;
        flex:5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }
    article{
        margin:1rem 0;
        display: flex;
        background-color: aqua;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 200px;
        width: 200px;
    }
    aside{
        padding: 0px 2rem;
        display: flex;
        flex: 1;
        background-color: azure;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        color: aliceblue;
        background-color: #00000f;
        margin-top: auto;
        width: 100%;
    }

@media screen and (max-width:600px){
    main{ 
        flex-direction: column;
    }
}